.wallet_dialog {
  @apply fixed inset-0 z-20 overflow-y-auto;
}

.wallet_dailog_containter {
  @apply min-h-screen px-4 text-center;
}

.wallet_dialog_overlay {
  @apply fixed inset-0 bg-[#000000] opacity-80;
}

.wallet_dialog_containter_spacer {
  @apply inline-block h-screen align-middle;
}

.wallet_dialog_content {
  @apply inline-block w-full max-w-md my-8;
  @apply overflow-hidden text-left align-middle;
  @apply transition-all transform bg-[#130E19] shadow-xl rounded-2xl;
  box-shadow: 0px 0px 0px 1px #1c1523, 0px 0px 1px rgba(9, 30, 66, 0.31),
    0px 8px 12px rgba(9, 30, 66, 0.15);
}

.wallet_dialog_header {
  @apply px-6 py-4 w-full;
}
.wallet_dialog_header_content {
  @apply flex w-full items-center justify-between pb-2;
  @apply border-b-[1px];
}
.wallet_dialog_close {
  @apply text-white cursor-pointer;
  font-size: 32px !important;
  transition: all 0.2s linear 0s;
}

.wallet_dialog_close:hover {
  @apply text-[#FA4F27];
}

.wallet_dialog_title {
  @apply freude-18 text-white;
}

.wallet_dialog_body {
  @apply p-6 pt-1;
}

.wallet_dialog_notice {
  @apply mt-2 p-4 rounded-md border border-solid;
  border-color: #0c0c30;
  background-color: #0f0f34;
}

.wallet_dialog_notice p {
  @apply text-[#E4E4E4];
}

.wallet_dialog_providers {
  @apply mb-4;
}

.wallet_dialog_providers_list li {
  @apply px-6 mb-3;
}

/* .wallet_dialog_providers_list li:hover {
    @apply bg-[#000000];
  } */

.wallet_dialog_providers_list button {
  @apply relative flex items-center px-4 py-3 w-full;
  @apply bg-[#1C1523] rounded-xl;
}

.wallet_dialog_providers_list button:hover {
  @apply border-[1px] border-[#f762da40];
}

.wallet_dialog_providers_list button img {
  width: 28px;
}

.wallet_dialog_providers_list button span:first-of-type {
  @apply lato-15 text-white mr-auto;
}

.wallet_dialog_provider {
  @apply flex items-center justify-between;
}

.wallet_dialog_provider p {
  @apply text-white lato-16;
}

.wallet_dialog_disconnect {
  @apply rounded-3xl py-2 text-white freude-15;
  @apply bg-black border-[#4D4D4D] border-2;
  @apply px-4 py-1;
}
.wallet_dialog_address {
  @apply mt-4 pb-4;
}

.wallet_dialog_address > p {
  @apply text-white freude-18;
}

.wallet_dialog_address_copy_etherscan {
  @apply flex py-2 gap-6;
}

.wallet_dialog_bottom_text,
.wallet_dialog_bottom_text a {
  @apply relative cursor-pointer flex gap-2 items-center lato-15 text-white;
}

.wallet_dialog_bottom_text img {
  @apply w-4;
}

.tooltip {
  @apply text-left absolute bottom-0 left-0 top-12 md:top-6;
}
